$colorBackground: hsl(30, 38%, 92%);
$colorButtonText: hsl(158, 36%, 37%);
$colorButtonHover: hsl(158, 36%, 23%);
$colorTitle: hsl(212, 21%, 14%);
$colorParagraph: hsl(228, 12%, 48%);
$colorCard: hsl(0, 0%, 100%);